@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --clr-paragraph: hsla(0, 0%, 100%, 0.75);
  --clr--primary: hsl(0, 0%, 95%);

  --ff-primary: 'Lexend Deca', sans-serif;
  --ff-secondary: 'Big Shoulders Display', sans-serif;
}

.orange {
  background: var(--orange);
  color: var(--orange);
}

.cyan {
  background: var(--cyan);
}

.dark-cyan {
  background: var(--dark-cyan);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background: var(--clr--primary);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

section {
  max-width: 350px;
  margin: 3rem 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

article {
  padding: 3rem;
}

article .title {
  color: var(--clr--primary);
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 1.5rem auto;
  font-family: var(--ff-secondary);
}

.car-info {
  margin: 1rem 0;
  color: var(--clr--primary);
  font-family: var(--ff-primary);
  line-height: 1.5;
}

.btn {
  font-family: var(--ff-primary);
  display: inline-block;
  text-decoration: none;
  margin: 1rem 0;
  padding: 0.8rem 1.7rem;
  border-radius: 27px;
  background-color: var(--clr--primary);
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  border-color: var(--clr-paragraph);
  color: var(--clr--primary);
  background: transparent;
}

.btn-1 {
  color: var(--orange);
}

.btn-2 {
  color: var(--cyan);
}

.btn-3 {
  color: var(--dark-cyan);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 992px) {
  section {
    max-width: 800px;
    display: flex;
    margin: 0 1rem;
  }
  article {
    padding: 2rem;
  }
}
