@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  min-height: 100vh;
  background: var(--light-gray);
  color: var(--grayish-blue);
  position: relative;
}

section {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-block: 3rem;
}
.heading-primary {
  font-weight: 200;
}

.card-text {
  max-width: 450px;
  margin: 1rem auto 2rem auto;
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 0.85rem;
  font-weight: 400;
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  max-width: 22rem;
  margin: 0 auto;
  background: var(--light-gray);
  margin-bottom: 2rem;
  border-top: 0.2rem solid transparent;
}

.card .card-title {
  margin-bottom: 0.75rem;
}

.card .card-content {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.card .card-img {
  text-align: right;
  height: 2.5rem;
}

.card-img .card-icon {
  object-fit: cover;
  height: 100%;
}

.card-1 {
  border-color: var(--cyan);
}
.card-2 {
  border-color: var(--red);
}
.card-3 {
  border-color: var(--orange);
}
.card-4 {
  border-color: var(--blue);
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: black;
}

.attribution a {
  color: var(--blue);
}

@media screen and (min-width: 660px) {
  .cards {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 850px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  section {
    width: 95vw;
    padding-block: 2rem;
  }
  .card-1 {
    grid-row: 2/4;
  }

  .card-2 {
    grid-row: 1/3;
  }

  .card-3 {
    grid-row: 3/5;
  }

  .card-4 {
    grid-row: 2/4;
  }
}
