@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  background: var(--light-gray);
}

section {
  /* min-height: calc(100vh - 2rem); */
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  /* padding: 3rem 0; */
}

.box-container {
  width: 90vw;
  max-width: 700px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  /* margin: 3rem 0; */
}

.box {
  padding: 2.5rem 2rem;
  color: var(--light-gray);
  font-size: clamp(0.9rem, 3vw, 1rem);
}

.box-1 {
  background: #fff;
}
.box-2 {
  background: var(--cyan);
}
.box-3 {
  background: hsl(179, 47%, 52%);
}

.box-1 h3 {
  color: var(--cyan);
}
.box-1 h4 {
  color: var(--bright-yellow);
  margin: 0.8rem 0;
}
.box-1 p {
  color: var(--grayish-blue);
  line-height: 1.5;
}

.box-2 h3 {
  margin-bottom: 1.2rem;
}

.box-2 .subscription {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 3vw, 2.75rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
  position: relative;
}

.box-2 .subscription small {
  font-weight: 400;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.5rem;
  color: hsla(203, 44%, 93%, 0.751);
}

.box-2 p {
  margin-bottom: 1.5rem;
}

.box-2 .btn {
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  padding: 0.8rem 0;
  background: var(--bright-yellow);
  font-size: 1rem;
  color: var(--light-gray);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.box-2 .btn:hover {
  color: var(--grayish-blue);
  background: var(--light-gray);
}

.box-3 h3 {
  margin-bottom: 1.25rem;
}

.box-3 p {
  line-height: 1.5;
  font-size: clamp(0.9rem, 3vw, 1rem);
  color: hsla(203, 44%, 93%, 0.751);
}

.attribution {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution p {
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.attribution a {
  text-decoration: none;
  color: var(--cyan);
}

@media screen and (min-width: 768px) {
  .box-container {
    display: grid;
    grid-template-areas: 'a a' 'b c';
  }

  .box-1 {
    grid-area: a;
  }
  .box-2 {
    grid-area: b;
  }
  .box-3 {
    grid-area: c;
  }
}
