@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /* primary */
  --red: hsl(0, 100%, 67%);
  --orange: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */

  --slate-blue: hsl(252, 100%, 67%); /*(background)*/
  --royal-blue: hsl(241, 81%, 54%); /*(background)*/
  --violet-blue: hsla(256, 72%, 46%, 1); /*circle)*/
  --persian-blue: hsla(241, 72%, 46%, 0); /*circle)*/

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: block;
  width: 100%;
  color: var(--white);
  background: var(--dark-gray-blue);
  text-transform: capitalize;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-family: inherit;
  margin-top: 1.75rem;
  font-size: 0.9rem;
  padding: 0.8rem 0;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--royal-blue);
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

main {
  min-height: 100vh;
  color: rgb(187, 174, 174);
  position: relative;
  padding-bottom: 3rem;
}

.card-container {
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 1.5rem;
}

.card-1 {
  background: linear-gradient(var(--slate-blue), var(--royal-blue));
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: center;
  padding: 2rem 2.5rem;
  min-height: 40vh;
  color: var(--pale-blue);
}

.card-1 .circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-block: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.card-1 .circle span {
  color: rgb(187, 174, 174);
  font-size: 0.75rem;
}

.card-1 .circle .text-lg {
  font-size: 3rem;
  color: var(--white);
  display: block;
  font-weight: 900;
}

.card-1 h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.card-1 .result {
  color: rgb(212, 205, 205);
  font-weight: 500;
}

.card-1 p {
  color: rgb(187, 174, 174);
  font-size: 0.8rem;
  max-width: 15rem;
  margin: 0 auto;
}

.card-2 {
  padding: 1rem 1.75rem;
}

.card-2 h3 {
  margin-bottom: 1rem;
  color: var(--dark-gray-blue);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.row .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row .right h5 span {
  color: var(--dark-gray-blue);
}

.row-1 {
  background: hsla(0, 100%, 67%, 5%);
}

.row-1 .left {
  color: var(--red);
}

.row-2 {
  background: hsla(39, 100%, 56%, 5%);
}

.row-2 .left {
  color: hsl(39, 100%, 56%);
}

.row-3 {
  background: hsla(166, 100%, 37%, 5%);
}

.row-3 .left {
  color: hsl(166, 100%, 37%);
}

.row-4 {
  background: hsla(234, 85%, 45%, 5%);
}

.row-4 .left {
  color: hsl(234, 85%, 45%);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 500px) {
  main {
    display: grid;
    align-items: center;
  }

  .card-container {
    box-shadow: 0 3px 20px 10px rgba(0, 189, 145, 15%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-1 {
    height: auto;
    border-radius: 1.5rem;
    flex: 2;
  }

  .card-2 {
  }
}
