@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

main {
  min-height: 100vh;
  background: hsl(229, 57%, 11%) url('./images/bg-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.data-storage {
  width: 90vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: space-between;
}

.storage-intro {
  background: var(--dark-blue);
  padding: 2rem;
  border-radius: 0.5rem;
  border-top-right-radius: 6rem;
}

.storage-intro .icons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.storage-intro .icons .icon {
  width: 2.75rem;
  height: 2.75rem;
  display: grid;
  place-items: center;
  background: var(--very-dark-blue);
  border-radius: 0.5rem;
}

.storage-info {
  background: var(--dark-blue);
  /* flex: 2; */
  padding: 2rem;
  border-radius: 0.75rem;
  padding-bottom: 3rem;
  position: relative;
}

.storage-info p {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

.storage-info .color {
  font-weight: 700;
  color: var(--pale-blue);
}

.storage-info .storage {
  width: 100%;
  height: 1.25rem;
  background: hsl(229, 57%, 11%);
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.storage-info .used-storage {
  height: 100%;
  width: 81.5%;
  border-radius: 12px;
  background: var(--gradient);
  position: relative;
  display: grid;
  place-items: center;
}

.storage-info .used-storage .circle {
  height: 90%;
  background: white;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  margin-right: 0.15rem;
}

.storage-range {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  color: var(--grayish-blue);
  font-weight: 700;
}

.storage-range span {
  font-family: inherit;
  color: var(--pale-blue);
}

.storage-info {
  position: relative;
}
.tooltip {
  background: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  display: grid;
}

.tooltip p {
  font-size: 0.75rem;
  margin-top: -0.5rem;
}

.tooltip .text-lg {
  font-size: 2.25rem;
  color: var(--very-dark-blue);
  font-weight: 700;
  margin-right: 0.5rem;
}

@media screen and (min-width: 572px) {
  .data-storage {
    flex-direction: row;
    gap: 2rem;
  }
  .storage-info {
    flex: 2;
  }
  .storage-intro {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .tooltip {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    transform: translate(-20%, -70%);
  }

  .storage-info {
    padding-bottom: 2rem;
    align-self: flex-end;
  }

  .tooltip ::after {
    content: '';
    position: absolute;
    top: 90%;
    right: 0;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: white white transparent transparent;
  }

  main {
    background: hsl(229, 57%, 11%) url('./images/bg-desktop.png');
    background-size: cover;
    background-position: top 50vh left 0;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
  }
}

.attribution {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

.attribution a {
  color: var(--pale-blue);
}
