@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --offwhite: hsl(0, 0%, 94%);
  --light-gray: hsl(0, 0%, 86%);
  --smokey-gray: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 8%);

  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--offwhite);
}

main {
  min-height: calc(100vh - 2rem);
  display: grid;
  place-items: center;
  position: relative;
}

.container {
  width: 90vw;
  max-width: 650px;
  border-radius: 1rem;
  background: var(--white);
  padding: 2rem;
  border-bottom-right-radius: 10rem;
}

.form {
  padding-bottom: 2rem;
  flex-shrink: 1 1 auto;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-basis: 100px;
  gap: 1rem;
  border-bottom: 1px solid var(--light-gray);
  padding-block: 1rem 3rem;
  position: relative;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control label {
  color: var(--smokey-gray);
  text-transform: uppercase;
  font-size: 0.5rem;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: clamp(0.6rem, 0.7rem, 0.8rem);
}

.form-control input {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 0.325rem;
  border: 1px solid var(--light-gray);
  outline: none;
  font-size: clamp(1rem, 4vw, 1.75rem);
  width: 100%;
  color: var(--black);
  cursor: pointer;
  transition: var(--transition);
}

input:focus {
  border-color: var(--purple);
}

.form-control input::placeholder {
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.75rem);
  color: var(--smokey-gray);
}

.btn {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: transparent;
  background: var(--purple);
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--black);
}

.form-img img {
  height: 2rem;
  width: 2rem;
}

.form-info {
  font-size: 2rem;
  color: var(--black);
  font-style: italic;
  padding-top: 1rem;
}

.form-info h1 {
  font-size: clamp(2rem, 10vw, 5rem);
  color: var(--black);
  font-style: italic;
  line-height: 1.2;
}

.color {
  color: var(--purple);
  margin-right: 0.5rem;
}

.line {
  height: 1px;
  width: 100%;
  background: var(--light-gray);
  position: relative;
  z-index: 1;
}

.attribution {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution p {
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.attribution a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .btn {
    left: 100%;
  }

  .container {
    padding: 3rem;
  }
}

small {
  font-size: 0.6rem;
  font-weight: 400;
  font-style: italic;
  color: var(--red);
}

.active label {
  color: var(--red);
}

.active input {
  border-color: var(--red);
}

.active .error {
  color: var(--red);
  display: block;
}
