@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --pale-blue-2: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--bright-blue);
  font-weight: 700;
}

a:hover {
  color: hsla(245, 75%, 52%, 0.8);
}

body {
  font-size: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--pale-blue);
}

main {
  min-height: calc(100vh - 2rem);
  background-image: url('./images/pattern-background-mobile.svg');
  background-position: top -15rem left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1120px) {
  main {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.card {
  width: 95vw;
  max-width: 360px;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--pale-blue-2);
  text-align: center;
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  display: block;
}

.card-info {
  padding: 2rem 1rem;
}

.card-title {
  color: var(--dark-blue);
}

.card-text {
  font-size: 0.9rem;
  color: var(--desaturated-blue);
  margin: 1rem;
}

.annual-plan {
  background: hsla(225, 100%, 94%, 0.362);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
}

.icon-container {
  background: var(--pale-blue-);
  border-radius: 50%;
}

.annual-plan h4 {
  color: var(--dark-blue);
}

.annual-plan small {
  color: var(--desaturated-blue);
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease-in-out;
  border: transparent;
  background: transparent;
  text-align: center;
  font-weight: 700;
  font-family: inherit;
  border-radius: 0.325rem;
  cursor: pointer;
  color: var(--desaturated-blue);
}

.btn-primary {
  background: var(--bright-blue);
  color: var(--pale-blue-2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.325rem;
}

.btn-primary:hover {
  background: hsla(245, 75%, 52%, 0.75);
}

.btn-secondary:hover {
  color: var(--dark-blue);
}

.attribution {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution p {
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: var(--white);
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
